{%extends 'Teacherbase.html'%}
{%load static%}
{%block contents%}

<div class="wrapper col2">
  <div id="featured_slide">
    <div class="featured_box">
        <h2></h2>
        <p>
           week-9 classes:
        </p>
        <p><a href="{%url 'tweek9class1'%}">CLASS-1</a>(Class section)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{%url 'tweek9class2'%}">CLASS-2</a>(Practise section)</p>
      <div class="floater">
        <h2></h2>
        <p></p>

      </div>
    </div>

  </div>
</div>
{%endblock%}
