{%extends 'studentbase.html'%}
{%load static%}
{%block contents%}

<div class="wrapper col2">
  <div id="featured_slide">
    <div class="featured_box">
        <h2></h2>
        <p>
        <a href="{%url 'week'%}">WEEk-1</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{%url 'week2'%}">WEEk-2</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{%url 'week3'%}">WEEk-3</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{%url 'week4'%}">WEEk-4</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{%url 'week5'%}">WEEk-5</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{%url 'week6'%}">WEEk-6</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{%url 'week7'%}">WEEk-7</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{%url 'week8'%}">WEEk-8</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{%url 'week9'%}">WEEk-9</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{%url 'week10'%}">WEEk-10</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{%url 'week11'%}">WEEk-11</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{%url 'week12'%}">WEEk-12</a>

        </p>
        <p>Python Data Analysis is a school-enterprise cooperative course supported by the Ministry of Education of China. School-enterprise cooperation program aims to deepen integration between industry and education by building the courses that meet the needs of enterprises. With the development of mobile Internet, Internet of Things and artificial intelligence, more and more disciplines are on the basis of computation, such as computational physics, computational chemistry, and computational biology and so on. Data analysis technique, that is to discover useful information, suggest conclusions, and support decision-making, has become a basic supporting technique of computation.</p>
      <div class="floater">
        <h2></h2>
        <p></p>

      </div>
    </div>

  </div>
</div>
{%endblock%}
