{%extends 'base.html'%}
{%load static%}


{%block contents%}

<div class="wrapper col2">
  <div id="featured_slide">
    <div class="featured_box">
        <h2></h2>
        <p>
            To meet the needs of enterprises for data analysis
talents, school-enterprise cooperative course Python Data Analysis introduces the basic theories and methods for data analysis
by using Python programming language. The teaching content
is organized around practical cases designed according to the
actual demand of the enterprise. Exploratory teaching method
is conducted to cultivate the communication, collaboration, critical thinking and creativity ability of students. Students fully
participate in the teaching process by discussing, analyzing and
programming the cases. The implementation scheme, organization of exploratory teaching and the design of teaching cases are
introduced in this paper.
        </p>
      <div class="floater">
        <h2>X</h2>
        <p>General info</p>

      </div>
    </div>

  </div>
</div>
{%endblock%}
